.header-container{
	width: 100%;
	background-color:	#121212;
}

.navigator {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 8rem;

	.navigator-item {
		font-size: 16px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 4px;
		text-align: center;
		vertical-align: center;
		padding: 16px 0px;
		width: 140px;
		cursor: pointer;
	}

	.navigator-item:hover{
		color: lighten(#DD2C00, 20);
	}

	.active {
		color: lighten(#DD2C00, 20);
	}
}