.header-container{
	width: 100%;
	background-color: #37474F;
}

.navigator{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 8rem;

	.navigator-item {
		font-size: 16px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 4px;
		text-align: center;
		vertical-align: center;
		padding: 12px 0px;
		width: 140px;
		cursor: pointer;
	}

	.navigator-item:hover{
		background-color: lighten(#37474F, 10);
	}

	.active {
		background-color: lighten(#37474F, 15);
	}
}