$black: lighten(#282828, 5) ;
$grey: #303030;
$outerRadius: 1rem;

//------------------OPTION SECTION----------------//
.options-section{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $black;
	border-radius: 0rem 0rem  0.5rem  0rem;
	width: 17rem;

	.wheels-section {
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		width: 90%;
		margin-top: 4rem;
		margin-bottom: 1.2rem;
		height: 145px;

		.wheel-item {
			width: 3rem;
			height: 10rem;
			border-radius: 0.5rem;
			background: linear-gradient(#101010 10%, lighten($grey, 5) 10% 90%, #101010 90%);
		}
	}

	.instruments-section{
		margin-top: 0.75rem;
		width: 15rem;
    border-radius: 5px;
		background-color: black;
		.instrument-select {
			padding: 10px 15px;
			span {
				color: #76FF03;
    		font-size: 14px;
    		letter-spacing: 3px;
    		text-transform: uppercase;
			}
		}
	}

	.buttons-section{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 62%;
		margin-top: 1rem;
	
		.button-light{
			width: 0.75rem;
			height: 0.75rem;
			background-color: #FF1744;
			border-radius: 1rem;
			box-shadow: 1px 2px #101010; 
		}
		.button-item{
			width: 2rem;
			height: 2rem;
			background-color: #A9A9A9 ;
			border-radius: 1rem;
			cursor:pointer;
			box-shadow: 2px 4px #101010; 
		}
		.button-item:hover{
			background-color: darken(#A9A9A9, 10);
		}
		.button-status-1{
			background-color: #76FF03;
		}
		.button-status-1:hover{
			background-color: lighten(#76FF03,10);
		}
		.button-status-2{
			background-color: #FFC400;
		}
		.button-status-2:hover{
			background-color: lighten(#FFC400,10);
		}
	}
}
