$black: #282828;
$grey: #303030;
$outerRadius: 1rem;

.container{
	display:flex;
	flex-direction:row;
	margin: 3rem 0;
}

//------------------BORDER SECTION----------------//
.left-border{
	background-color: $black;
	width: 3.5rem;
	padding-right: 2rem;
	border-radius: $outerRadius 0rem 0rem $outerRadius;
	background: linear-gradient(to right, $black 55%, #101010 55% 65%, $black 65%);
}

.right-border{
	width: 3.5rem;
	border-radius: 0rem $outerRadius  $outerRadius  0.5rem;
	background: linear-gradient(to right, $black 40%, #101010 30% 50%, $black 50%);
	padding-left: 2rem;
}

//------------------PIANO NOTES SECTION----------------//
.piano-section{
	position:relative;
	display:flex;
	flex-direction:column;
}

.notes-section{
	display:flex;
	flex-direction:row;
}

//------------------TOP SECTION----------------//
.top-section {
	min-height: 4rem;
	background-color: $black;
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
	div {
		height: 1rem;
		width: 100%;
		background-color: #101010;
		border-radius: 0.5rem 0.5rem 0rem 0rem;
	}
}

//------------------BOTTOM SECTION----------------//
.bottom-section{
	height: 3rem;
	background-color: #101010;
	border-radius: 0rem 0rem 0.50rem 0.50rem;
}

