.piano-dashboard {
  width: 100%;
  padding: 15px 0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.chord-label-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 7px;
}

.chord-label {
  color: #E0E0E0;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.notes-list-section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.notes-list-label {
  font-size: 18px;
  text-transform: uppercase;
  font-family: monospace;
  margin: 15px 0px;
  letter-spacing: 4px;
  color: lighten(#DD2C00, 10) !important;
}

.notes-list-options {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .list-item {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darken(#424242,5);
    color: #E0E0E0;
    min-width: 100px;
    min-height: 55px;
    font-family: monospace;
    font-size: 2rem;
    margin: 2px 0px;
    border-right: 4px solid #1D1D1D;
    cursor: pointer;
  
    &:hover{
      background-color: lighten(#DD2C00, 20) !important;
    }
  }
}

.chords-list-section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.chords-list-label {
  font-size: 18px;
  text-transform: uppercase;
  margin: 15px 0px;
  letter-spacing: 4px;
  color: lighten(#DD2C00, 10) !important;
}

.chord-play-button {
  margin: 0px 10px;
  svg {
    fill: lighten(#DD2C00, 10) !important;
    width: 40px;
    height: 40px;
    cursor:pointer;

    &:hover {
      fill: lighten(#DD2C00, 25) !important;
    }
  }
}
.chords-list-options {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;

  .list-item {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darken(#424242,5);
    color: #E0E0E0;
    min-width: 100px;
    min-height: 55px;
    margin: 2px 0px;
    font-family: monospace;
    font-size: 2rem;
    border-right: 4px solid #1D1D1D;
    cursor: pointer;
  
    &:hover{
      background-color: lighten(#DD2C00, 25) !important;
    }
  }
}


// --------------- SCALES SECTION ------------------ //

.scales-list-section {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.scales-list-label {
  font-size: 18px;
  text-transform: uppercase;
  margin: 15px 0px;
  letter-spacing: 4px;
  color: lighten(#DD2C00, 10) !important;
}


.scales-list-options {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .list-item {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darken(#424242,5);
    color: #E0E0E0;
    min-width: 225px;
    min-height: 55px;
    margin: 2px 0px;
    font-family: monospace;
    font-size: 2rem;
    border-right: 4px solid #1D1D1D;
    cursor: pointer;
  
    &:hover{
      background-color: lighten(#DD2C00, 25) !important;
    }
  }
}

.list-item--active{
  background-color: lighten(#DD2C00, 10) !important;
}

.chord-notes-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.notes-label{ 
  color: #BDBDBD;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

//------ MAIN DASHBOARD -----------//

.main-dashboard{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 3px;
}

.main-dashboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  svg {
    margin: 0px 15px;
  }
  span {
    font-size: 2rem;
    letter-spacing: 1px;
    color : #E0E0E0;
    text-align: center;
  }
}

.main-dashboard-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 500px;
  margin: 2rem 0;
  padding: 2rem;
  width: 80%;
  border: 4px dashed #E0E0E0;
  border-radius: 10px;

  .main-dashboard-content-title{
    span{
      color : #E0E0E0;
      font-size: 3rem;
    }
  }

  .main-dashboard-content-description{
    margin: 2rem 0;
    line-height: 2rem;
    span{
      color : #E0E0E0;
      font-size: 1.5rem;
    }
  }

  .main-dashboard-content-references{
    width: 100%;
    margin: 2rem 0; 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img{
      height: 150px;
      width: auto;
      margin: 0px 50px;
      cursor: pointer;
    }
  }
}