$black: #202020;
$grey: #37474F;
.keyWrapper{
	position:relative;
	background-color: #101010;
}
.key {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	z-index: 3;
	border: 0.05rem solid $black;	
	padding-bottom: 0.5rem;
	transition: background 0.2s;
	cursor: pointer;
}

.key:hover{
	background: linear-gradient( #FFCC80 10%, #FFCC80 10%);
}

.key:active{
	background: linear-gradient( darken(#FFB74D,10)  10%, #FFB74D 10%);
}
.white-key-style {
	background: linear-gradient( #E0E0E0 10%, #FAFAFA 10%);
	background-color: #E0E0E0 ;
	width: 3.5rem;
	height: 15rem;
	border-radius: 0rem 0rem 0.5rem 0.5rem;
	transition: height 0.2s;
}

.black-key-style {
	position: absolute;
	background: linear-gradient( #101010 15%, $black 15% 90%, #101010 90%);
	left: -1rem;
	width: 2rem;
	height: 8rem;
	border: 1px solid black;	
}

.key-active {
	background: linear-gradient( darken(#FFB74D,10)  10%, #FFB74D 10%) !important;
}
