$secondary: #0277BD;

.roots-wrapper{
	display:flex;
	flex-direction: row;
}
.roots-item{
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 1.50rem;
	min-width: 1.25rem;
	min-height: 1.25rem;
	cursor: pointer;
	span{
		color: $secondary;
		font-size: 20px;
		font-weight: bold;
	}
}

.active, .roots-item:hover{
	background-color: $secondary;
	span{
		color: white;
	}
}