$black: #282828;
$grey: #303030;
$outerRadius: 1rem;

.container{
	display:flex;
	flex-direction:row;
}

//------------------BORDER SECTION----------------//
.left-border{
	background-color: $black;
	width: 3.5rem;
	padding-right: 2rem;
	border-radius: $outerRadius 0rem 0rem $outerRadius;
	background: linear-gradient(to right, $black 55%, #101010 55% 65%, $black 65%);
}

.right-border{
	width: 3.5rem;
	border-radius: 0rem $outerRadius  $outerRadius  0.5rem;
	background: linear-gradient(to right, $black 40%, #101010 30% 50%, $black 50%);
	padding-left: 2rem;
}

//------------------OPTION SECTION----------------//
.options-section{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: $black;
	border-radius: 0rem 0rem  0.5rem  0rem;
	width: 17rem;

	.wheels-section{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		width: 75%;
		margin-top: 3rem;
		.wheel-item{
			width: 3rem;
			height: 11rem;
			border-radius: 0.5rem;
			background: linear-gradient(#101010 10%, $grey 10% 90%, #101010 90%);
		}
	}

	.buttons-section{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 62%;
		margin-top: 2.5rem;
		.button-light{
			width: 0.75rem;
			height: 0.75rem;
			background-color: #FF1744;
			border-radius: 1rem;
			box-shadow: 1px 2px #101010; 
		}
		.button-item{
			width: 2rem;
			height: 2rem;
			background-color: #A9A9A9 ;
			border-radius: 1rem;
			cursor:pointer;
			box-shadow: 2px 4px #101010; 
		}
		.button-item:hover{
			background-color: darken(#A9A9A9, 10);
		}
		.button-status-1{
			background-color: #76FF03;
		}
		.button-status-1:hover{
			background-color: lighten(#76FF03,10);
		}
		.button-status-2{
			background-color: #FFC400;
		}
		.button-status-2:hover{
			background-color: lighten(#FFC400,10);
		}
	}
}

//------------------PIANO NOTES SECTION----------------//
.piano-section{
	position:relative;
	display:flex;
	flex-direction:column;
}

.notes-section{
	display:flex;
	flex-direction:row;
}
.top-section {
	min-height: 4rem;
	background-color: $black;
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
	div {
		height: 1rem;
		width: 100%;
		background-color: #101010;
		border-radius: 0.5rem 0.5rem 0rem 0rem;
	}
}

.bottom-section{
	height: 3rem;
	background-color: #101010;
	border-radius: 0rem 0rem 0.50rem 0.50rem;
}

